.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: rgb(255, 113, 194);
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #6e0236;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #0073e6;
  }